SECRET_KEY=your_secret_key_here
DEBUG=False_or_True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=your_database_name_here
DB_USER=your_database_user_here
DB_PASSWORD=your_database_password_here
DB_HOST=db_if_debug_false_or_localhost_if_debug_true
DB_PORT=5432

DJANGO_LOG_LEVEL=INFO

DOCKER_HUB_USERNAME=your_docker_hub_username_here
DOCKER_HUB_TAG=docker_hub_electronet_image_tag_here
BASE_SERVER_URL=localhost